<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: meta"></div>
    <title>Registration page</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<form th:action="@{/register}" method="post" th:object="${userDTO}">
    <div class="jumbotron" style="width: 50rem; margin-left: auto; margin-right: auto; margin-top: 30px;">
        <h1 class="display-4">Registration page</h1><br>
    <div class="form-group row">
    <label class="col-sm-4 col-form-label">First name</label>
        <div class="col-sm-6">
    <input type="text" name="firstName" placeholder="first name" th:field="*{firstName}"><br>
            <small class="error-message text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
        </div>
        </div>
    <div class="form-group row">
    <label class="col-sm-4 col-form-label">Last name</label>
        <div class="col-sm-6">
        <input type="text" name="lastName" placeholder="last name" th:field="*{lastName}"><br>
            <small class="error-message text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-4 col-form-label">Email address</label>
        <div class="col-sm-6">
        <input type="email" name="email" placeholder="email address" th:field="*{email}">
        <small class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
        </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-6">
        <input type="password" name="password" placeholder="password" th:field="*{password}"><br>
            <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
                <li th:each="message : ${error.split(',')}">
                    <small class="error-message" th:text="${message}"></small>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-4 col-form-label">Repeat password</label>
        <div class="col-sm-6">
    <input type="password" name="repeat_password" placeholder="password" th:field="*{repeatPassword}"><br>
            <div th:if="${(userDTO!=null)&&(userDTO.password!=null)&&(userDTO.repeatPassword!=null)}">
            <small class="error-message text-danger" th:if="${!(userDTO.password.equals(userDTO.repeatPassword))}">Passwords don't match</small>
            </div>
        </div>
    </div>
<!--        <div th:each="irole, iroleStat: ${roles}" th:object="${userDTO}">-->
<!--    <div class="form-check">-->
<!--    <input type="radio" th:field="*{role}" th:name="radio_button" th:value="${irole}" th:id="'role'+${iroleStat.count}" class="form-check-input" id="radio1" checked>-->

        <!--    <label class="form-check-label" for="radio1">I want to create a new group</label><br>-->

<!--    <div class="form-check">-->
<!--    <input type="radio" th:field="*{role}" th:name="radio_button" th:value="${irole}" class="form-check-input" id="radio2">-->
<!--    <label class="form-check-label" for="radio2">I want to join existing group</label>-->
<!--    </div>-->
    <div class="form-check" >
        <input type="radio" th:field="*{role}" th:value="ROLE_ADMIN" th:name="radio_button" class="form-check-input">
            <label class="form-check-label" th:for="${#ids.next('role')}">I want to create a new group</label>
    </div>
        <br>
        <div class="form-check" >
        <input type="radio" th:field="*{role}" th:value="ROLE_USER" th:name="radio_button" class="form-check-input">
        <label class="form-check-label" th:for="${#ids.next('role')}">I want to join existing group</label>
        </div>
    <input type="text" name="group_id" placeholder="group id" th:field="*{assignedGroupId}">

    <br>
    <button type="submit" class="btn btn-info">Register</button>
    </div>
    </div>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
<div th:replace="fragments/footer :: bootstrap_scripts"></div>
</body>
</html>